**/node_modules

tmp
build
deploy

.github
.git
.gitignore
.idea

.env
/config/*
/config/local.json
!/config/deployment/*.encrypted

**/*.aes

codeship-services.yml
codeship-steps.yml

buildspec.yml

.dockerignore
docker-compose.yml
Dockerfile*

README.md
