/.exe

/node_modules

tmp

/config/*
!/config/default.json
!/config/local-development.json
!/config/local-test.json
!/config/*.encrypted

**/*.aes

/dist
/build
/coverage

**/*.log

**/.DS_Store

.trash
.idea

tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

.env
.meta.json

/docker-volumes
!/docker-volumes/**/.gitkeep
