/.exe

/node_modules

tmp

/env/*
!/env/.env.local-development
!/env/.env.local-test
!/env/.env.example
!/env/*.encrypted

/dist
/build
/coverage

**/*.log

**/.DS_Store

.trash
.idea

tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

*.aes

.env
config.json
.meta.json

/docker-volumes
!/docker-volumes/**/.gitkeep
