/.exe

/node_modules

tmp

/config/local-*.json
/config/local.json
/config/environments/*
!/config/environments/example-*.json
!/config/environments/*.encrypted
!/config/environments/.gitkeep

**/*.aes

/dist
/build
/coverage

**/*.log

**/.DS_Store

.trash
.idea

tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

.env
.meta.json

/docker-volumes
!/docker-volumes/**/.gitkeep
